<h1>AttributeTypes#index</h1>
<p>Find me in app/views/attribute_types/index.html.erb</p>
<h2><%= @types.count %> </h2>
<ul>
  <% @types.each do |code| %>
  <li><%= code.code %></li>
  <% end %>
</ul>
