<h1>AttributeTypes#parse</h1>
<p>Find me in app/views/attribute_types/parse.html.erb</p>
<p><%= @codes.count %></p>
<ul>
  <% @codes.each do |code| %>
  <li><%= code %></li>
  <% end %>
</ul>
<ul>
  <% @types.each do |code| %>
  <li><%= code %></li>
  <% end %>
</ul>
