<h1>Hospitals#index</h1>
<p><%= @hospitals[10].hospital_attributes[1].code %>
<p><%= @hospitals[10].hospital_attributes[1].value %>
<ul>
  <% @hospitals.each do |hospital| %>
  <li><%=hospital.name%></li>
  <li><%= hospital.hospital_attributes.length %>
  <% end %>
</ul>
